@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--animate-slide-mobile: slide-mobile;
	--animate-slide-desktop: slide-desktop;
	--animate-fadeUp: fadeUp 0.6s ease-in-out forwards;
	--animate-fadeInScale: fadeInScale 9s ease-in infinite;

	@keyframes slide-mobile {
		0% {
			transform: translate(0);
		}
		to {
			transform: translate(-300%);
		}
	}
	@keyframes slide-desktop {
		0% {
			transform: translate(0);
		}
		to {
			transform: translate(-100%);
		}
	}
	@keyframes fadeUp {
		0% {
			opacity: 0;
			transform: translateY(50px);
		}
		70% {
			opacity: 1;
			transform: translateY(-5px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
	@keyframes fadeInScale {
		0% {
			opacity: 0;
			scale: 0;
		}
		50% {
			opacity: 0;
		}
		60% {
			opacity: 1;
		}
		80% {
			opacity: 1;
		}
		85% {
			opacity: 0;
		}
		to {
			opacity: 0;
			transform: scale(7) translate(var(--x), var(--y));
		}
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
@layer utilities {
	.parallax-bg {
		height: 100vh;
		background: linear-gradient(45deg, #667eea, #764ba2);
		position: relative;
	}
	.fade-in {
		opacity: 0;
		animation: fadeInScale 9s ease-in infinite;
		animation-delay: var(--delay);
	}
	.pos-1 {
		--x: -100px;
		--y: -100px;
		--delay: 0s;
	}
	.pos-2 {
		--x: -100px;
		--y: 100px;
		--delay: 1s;
	}
	.pos-3 {
		--x: 100px;
		--y: -100px;
		--delay: 2s;
	}
	.pos-4 {
		--x: 100px;
		--y: 100px;
		--delay: 3s;
	}
	.pos-5 {
		--x: -100px;
		--y: -100px;
		--delay: 4s;
	}
	.pos-6 {
		--x: -100px;
		--y: 100px;
		--delay: 5s;
	}
	.pos-7 {
		--x: 100px;
		--y: -100px;
		--delay: 6s;
	}
	.pos-8 {
		--x: 100px;
		--y: 100px;
		--delay: 7s;
	}
	.pos-9 {
		--x: -100px;
		--y: -100px;
		--delay: 8s;
	}
	.pos-10 {
		--x: -100px;
		--y: 100px;
		--delay: 9s;
	}
	.pos-11 {
		--x: 100px;
		--y: -100px;
		--delay: 10s;
	}
	.custom-delay-1 {
		--delay: 0.3s;
	}
	.custom-delay-2 {
		--delay: 0.6s;
	}
	.custom-delay-3 {
		--delay: 0.9s;
	}
	.custom-delay-4 {
		--delay: 1.2s;
	}
	.custom-delay-5 {
		--delay: 1.5s;
	}
	.custom-delay-6 {
		--delay: 1.8s;
	}
	.custom-delay-7 {
		--delay: 2.1s;
	}
	.custom-delay-8 {
		--delay: 2.6s;
	}
	.custom-delay-9 {
		--delay: 3.1s;
	}
	.fade-up {
		animation: fadeUp 0.6s ease-in-out forwards;
		animation-delay: var(--delay);
	}
	@keyframes fadeUp {
		0% {
			opacity: 0;
			transform: translateY(50px);
		}
		70% {
			opacity: 1;
			transform: translateY(-5px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
	@keyframes fadeInScale {
		0% {
			opacity: 0;
			scale: 0;
		}
		50% {
			opacity: 0;
		}
		60% {
			opacity: 1;
		}
		80% {
			opacity: 1;
		}
		85% {
			opacity: 0;
		}
		to {
			opacity: 0;
			transform: scale(7) translate(var(--x), var(--y));
		}
	}
	@media (min-width: 1024px) {
		.fade-in {
			width: auto;
			height: 30px;
		}
	}
	@media (min-width: 768px) {
		.fade-in {
			width: auto;
			height: 30px;
		}
	}
	@media (min-width: 640px) {
		.fade-in {
			width: auto;
			height: 30px;
		}
	}
	@media (min-width: 480px) {
		.fade-in {
			width: auto;
			height: 30px;
		}
	}
	@media (min-width: 320px) {
		.fade-in {
			width: auto;
			height: 30px;
		}
	}
}
