.env
.env.test
.env.test.db
.env.local
.env.prod
docker-compose.production.yml
api.http
docs.txt
docs.db
frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.test
frontend/.env.prod
frontend/build
frontend/.env.local
frontend/.env.production
frontend/bun.lockb
frontend/package-lock.json
android/app/build
android/.gradle
android/.idea
example-link.txt
backend/build
backend/bin
backend/temp
backend/.env
backend/.env.test
backend/.env.prod
backend/*.exe
