.env
.env.test
.env.test.db
.env.local
.env.prod
docker-compose.production.yml
api.http
docs.txt
docs.db
frontend/*.pem
frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.test
frontend/.env.prod
frontend/build
frontend/.env.local
frontend/.env.production
frontend/ecosystem.config.cjs
android/app/build
android/.gradle
android/.idea
android/logs.json
example-link.txt
backend/build
backend/bin
backend/temp
backend/.env
backend/.env.test
backend/.env.prod
backend/api.exe
backend/main.exe
backend/worker.exe
backend/*.exe
backend/worker_bin
backend/server_bin
/tsconfig.json
testing